<form id="add-kindle-form">
  <div class="input-group input-group-lg">
    <span class="input-group-addon">No.</span>
    <input type="text" name='inventory_id' class="form-control" placeholder="No. Inventario">
  </div>
  <br />
  <div class="input-group input-group-lg">
    <span class="input-group-addon">Status</span>
    <input type="text" name='status' class="form-control" placeholder="Status">
  </div>
  <br />
  <button type="button" class="btn btn-default add-kindle">Dar de Alta</button>
</form>
